@*
    List out recipes
*@
@{
}

@model IEnumerable<GymManagementSystem.Models.Workout>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.WorkoutId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WorkoutId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutId })|
                    @Html.ActionLink("View Exercise", "ViewExercise", new { id = item.WorkoutId })|
                    @Html.ActionLink("Add Exercise", "CreateExercise", new { WorkoutId = item.WorkoutId })

                </td>

            </tr>
        }
    </tbody>
</table>
